:root {
    --sidebar-width: 250px;
    --collapsed-sidebar-width: 80px;
}

.container {
    display: flex;
    font-family: 'Montserrat', sans-serif;
}

.sidebar {
    width: var(--sidebar-width);
    height: 100vh;
    transition: width 0.3s ease;
    background-color: #1F263E !important;
    border-top-right-radius: 40px;
}

.content {
    flex: 1;
    margin-left: var(--sidebar-width);
    transition: margin-left 0.3s ease;
    position: relative;
}



.collapsed .sidebar {
    width: var(--collapsed-sidebar-width);
}

.collapsed .content {
    margin-left: var(--collapsed-sidebar-width);
}


/* @media (max-width: 768px) {
    .sidebar {
        display: none;
    }

    .content {
        margin-left: 0;
    }
} */