.container {
    display: flex;
    font-family: 'Montserrat', sans-serif;

}

.content {
    flex: 1;
    margin-left: 5px;
}

.sidebar {
    background-color: #1F263E !important;
    border-top-right-radius: 40px;
}


@media (max-width: 768px) {
    .sidebar {
        display: none;

    }

    .content {
        flex: 1;
        margin-left: 0px;


    }
}