.Auth-container {
    background-image: url(assets/images/auth-bg.png);
    background-size: cover;
    font-family: "Montserrat", sans-serif;
}

.bg-overlay {
    background: linear-gradient(to left,
            rgba(0, 0, 0, 0.4),
            rgba(47, 140, 51, 0.7));
}



input,
select {
    background-color: #F7F7F7 !important;
    height: 45px;
    border: 0 !important;

}

.form-control:focus {
    border-color: #00ffdd !important;
    outline: none;

}

.input-group span i {
    padding-right: 15px;
    border-right: 2px solid;

    border-image-source: linear-gradient(0deg, #8391A1, #8391A1),
        linear-gradient(0deg, rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2));


}

.form-control:focus {
    outline: none !important;
    outline: none !important;
    border: 1px solid green !important;
    box-shadow: 0 0 10px green !important;
}

.sidebar-container .ps-sidebar-container {
    background-color: transparent !important;

}

.sidebar-container .ps-menu-button {
    color: #fff !important;
    transition: all 1s;
}

.sidebar-container .ps-menu-button:hover {
    background: linear-gradient(135deg, #00924D 0%, #005F30 100%) !important;
}

.navbar-container .navbar {
    height: 60px !important;
}

.navbar-container input {
    border: 1px solid green !important;

}

.header-content {
    background-image: url(./assets/images/heade-bg.png);
    background-size: cover;
}

.headerImg {
    -webkit-animation: mover 1s infinite alternate;
    animation: mover 1s infinite alternate;
}

.headerImg {
    -webkit-animation: mover 1s infinite alternate;
    animation: mover 1s infinite alternate;
}

@-webkit-keyframes mover {
    0% {
        transform: translateY(0);
    }

    100% {
        transform: translateY(-10px);
    }
}

@keyframes mover {
    0% {
        transform: translateY(0);
    }

    100% {
        transform: translateY(-10px);
    }
}